In [15]:
mylist=[10,30,50,30,40,50 ]
max=0
smax=0
for i in mylist:
  if(i>max):
    smax=max
    max=i
  elif(i>smax and i!=max):
    smax=i

print("1 max value:=",max)
print("2 max value:=",smax)

1 max value:= 50
2 max value:= 40

In [ ]:

mylist=[0,1,2,3,4,7,11,13]
start=0
end=len(mylist)-1
target=9
while(True):
  if(mylist[start]+mylist[end]==target):
    print(mylist[start],mylist[end])
    break
  elif(mylist[start]+mylist[end]<target):
    start+=1
  else:
    end-=1

2 7

In [ ]:
num=1
num2=2
for i in range(1,6):

  for k in range(i,5):
    print(" ",end="")
  for j in range(1,i+1):
    if(j==1 or j==i):
      print(num,end=" ")
    else:
      print(num2,end=" ")
      num2+=1
  print("")

    1
   1 1
  1 2 1
 1 3 4 1
1 5 6 7 1

In [ ]:
mylist=[]
for i in range(1,6):
  templist=[]
  for k in range(i,5):
    print(" ",end="")
  for j in range(1,i+1):
    if(j==1 or j==i):
      print("1",end=" ")
      templist.append(1)
    else:
      print(mylist[i-2][j-2]+mylist[i-2][j-1],end=" ")
      templist.append(mylist[i-2][j-2]+mylist[i-2][j-1])
  mylist.append(templist)

  print()
print(mylist)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]