In [8]:
myset={1,2,3,4}
myset2={3,4,5}
myset.difference(myset2)

print(myset, myset2)

{1, 2, 3, 4}

In [5]:
myset={1,2,3}
myset2={3,4,5}
myset.difference_update(myset2)


print(myset,myset2)

{1, 2} {3, 4, 5}

In [28]:
myset={1,2,3,4}
myset2={3,4,5}
myset.update(myset2)
print(myset)

{1, 2, 3, 4, 5}

In [29]:
myset={1,2,3,4}
myset2={3,4,5}
myset.pop()
print(myset)

{2, 3, 4}

In [32]:
myset={1,2,3,4}
myset2={3,4,5}
myset3=myset.discard(myset2)
print(myset3)

None

In [36]:
myset={1,2,3,4}
myset2={3,4,5}

myset3=myset.union(myset2)
print(myset3)

{1, 2, 3, 4, 5}

In [ ]:
#issuperset
#symmetric_difference
#isdisjoint

In [27]:
set1={1,2,3,4,5}
set2={1,2,3}
set3=set1.issuperset(set2)

print(set3)

True

In [24]:
set1={1,2,3}
set2={7,8,9}
set3=set1.isdisjoint(set2)

print(set3)

True

In [20]:
set1={1,2,3,4,5}
set2={7,8,9,1,2}
set3=set1.symmetric_difference(set2)

print(set3)

{3, 4, 5, 7, 8, 9}

In [ ]:
# function
# Block of code
# we can use it for converting your code into smaller portion of code
# help in reusability
# debugging

In [ ]:
# syntax of function
# def is used to make a function

In [39]:

def hello2():
  print("hello world")
  print("hello lerner")

In [40]:
hello()

hello world
hello lerner

In [55]:
# a=int(input("enter the number:="))
# b=int(input("enter the number:="))
def add(a,b):

  c=a+b
  print("addition of two is :=",c)

In [49]:
#void fun
def hello1(z):
  print("hey",z)

In [54]:
hello("hem")
hello("Ankit")

hey hem
hey Ankit

In [67]:
# global var
x=10 #global var
def hey():
  global x # now is became global var
  x="abc"# local var
  print("hey",x)

In [70]:
hey()
print(x)

hey abc
abc

In [72]:
# global var
x=10 #global var
def hey2():

  x="abc"# local var
  print("hey",x)

In [73]:
hey2()
print(x)

hey abc
10

In [75]:
x=10
def funct(x):
  print("hey",x)