In [1]:
data="hemgoyal"
for i in range(0,len(data)):
  if(data[i]=='a' or data[i]=='e' or data[i]=='i' or data[i]=='o' or data[i]=='u'):
    print(data[i])

e
o
a

In [2]:
data="hemgoyal"
for i in data:
  if (i in "aeiou"):
    print(i)

e
o
a

In [3]:

data="hemgoyal" #consonant
count=0
for i in data:
  if(i not in "aeiou"):
    count=count+1
print(count)

5

In [4]:
data = "hemgoyal"
count=0
for i in range(0,len(data)):
  if(data[i]!='a' and data[i]!='e' and data[i]!='i' and data[i]!='o' and data[i]!='u'):
    count=count+1
print(count)

5

In [5]:
a = "hemgoyal" #print first half
for i in range(0,len(a)//2):
  print(a[i])

h
e
m
g

In [7]:
for i in range(1,21):
  if(i%3==0):
    continue
  else:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [8]:
data="hemgoyal"
count=0
for i in range(0,len(data)):
  if(data[i]=='a' or data[i]=='e' or data[i]=='i' or data[i]=='o' or data[i]=='u'):
    continue
  else:
    count+=1
print(count)

5

In [9]:
data="hemgoyal"
count=0
for i in data:
  if (i in "aeiou"):
    continue
  else:
    count+=1
print(count)

5

In [10]:
#prime number
x=7
for i in range(2,x):
  if(x%i==0):
    print("not prime")
    break
  else:
    print("prime")
    break

prime

In [11]:
num=7
a=0
for i in range(2,num):
  if(num%i==0):
    a=1 #if any number is divisible then it updates the value to 1
    break

#if value updatets then not a prime
if(a==1):
  print("not prime")
#if value remains 0 then it is a prime number
else:
  print("prime")

prime

In [12]:

#while loop
i=1
while(i<5):
  print(i)
  i+=1

1
2
3
4

In [13]:
x=1
count=0
while(x<100):
  if(x%3==0):
    print(x)
    count+=1
  x=x+1
  if(count==5):
      break

3
6
9
12
15

In [14]:
x=1
count=0
while(count<5):
  if(x%3==0):
    print(x)
    count+=1
  x=x+1

3
6
9
12
15

In [15]:
# take a random number
x=1
total=0
while(total<100): #till the total reach 100
  total=total+x #add the last total value in the x
  print(x) # print the values until the condition get false
  x+=1 #increment the x by 1
if(total>100): #if
  total=total-x
  x=x-1
print("Total",total)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
Total 90