In [1]:
#type of argumengt passing
#required
#positional
#key word
#default

In [4]:
def func(eid, name):
  print(f"eid",eid,"ename:",name)

In [6]:
func("hem",10)

eid hem ename: 10

In [7]:
def func(eid, name):
  print(f"eid",eid,"ename:",name)

In [9]:
func(name="hem",eid=20)

eid 20 ename: hem

In [12]:
#veriable length argument // a argument in which the lenght is veries according to the user inputs
def func(*data):
  print(data)

In [20]:
func("hem","goyal",13)
func(30,40)

('hem', 'goyal', 13)
(30, 40)

In [17]:
#keyword veriable lenght argument
# *args and **kwargs

def func1(**data):
  print(data, type(data))

In [18]:
func1(eid=20,ename="hem goyal")

{'eid': 20, 'ename': 'hem goyal'} <class 'dict'>

In [25]:
# first class function
def func(num):
  print(num+5)
  return "hello"

In [26]:
y=func(20)
print('y',y)

25
y hello

In [27]:
def func(num):
  return num+5

In [28]:
func(10)

15

In [29]:
# Assigned to Variables: We can assign functions to variables.
#Passed as Arguments: We can pass functions as arguments to other functions.
#Returned from Functions: Functions can return other functions.
#Stored in Data Structures: Functions can be stored in data structures such as lists, dictionaries, etc

In [34]:
def func():
  print("hello world")

x=func  # we have assign function to a veriable
func()
x()

hello world
hello world

In [39]:
def square(num):
  print(num**2)

def cube(x,y):
  print("cude",x,y)

cube(10,square(4))

16
cude 10 None

In [42]:
def square(num):
  print(num**2)

def cube(x,y):
  print("cude",x,y)
  y(4)

cube(10,square) #it will return memory address

cude 10 <function square at 0x7f4ff8529800>
16

In [47]:
def square(num):
  return (num**2)

def cube(x,y):
  print("cude",x * y(x))

cube(10,square) # if a function is passed as parameter  in another function is known as high order function
                # all high order functions are first class function

cude 1000