In [1]:
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

   *
  * *
 * * *
* * * *

In [2]:

for i in range(4,0,-1):
  a=65
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,i+1):
    print(chr(a),end=" ")
    a+=1
  print()

 A B C D
  A B C
   A B
    A

In [3]:
for i in range(1,5):
  a=65
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,i+1):
    print(chr(a),end=" ")
    a+=1
  print()

   A
  A B
 A B C
A B C D

In [4]:

for i in range(1,6):
  for j in range(1,i+1):
    if(j==1 or i==j or i==5):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
*     *
* * * * *

In [5]:
a=1
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,i+1):
    if(k==1 or i==5 or k==i):
      print(a,end=" ")
      a+=1
    else:
      print(" ",end=" ")
      a+=1
  print()

    1
   2 3
  4   6
 7     10
11 12 13 14 15

In [6]:
# list datatype

a=['a','b','c','d',1,2,3,4]
type(a)

list

In [7]:
mylist=[10,20,30]
print(mylist)

[10, 20, 30]

In [8]:
x=[10,20,30]
print(x[0])

10

In [9]:
x=[10,20,30,40,50,60]
x[4]=80
print(x)

[10, 20, 30, 40, 80, 60]

In [10]:
x=[10,20,30,40,50,60]
x.append(90)
print(x)

[10, 20, 30, 40, 50, 60, 90]

In [11]:
x=[10,20,30,40,50,60]
x.extend("hello")
print(x)

[10, 20, 30, 40, 50, 60, 'h', 'e', 'l', 'l', 'o']

In [12]:

x=[10,20,30,40,50,60]
x.extend([123,"hello"])
print(x)

[10, 20, 30, 40, 50, 60, 123, 'hello']

In [13]:
x=[10,20,30,40,50,60,"hello"]
z=x.pop()
print(x,"Popped Value Stored in z=",z)

[10, 20, 30, 40, 50, 60] Popped Value Stored in z= hello

In [14]:
x=[10,20,30,40,50,60,"hello"]
z=x.pop()
y=x.pop(2)
print(x)
print("Popped Value Stored in z =",z)
print("Popped Value Stored in y =",y)

[10, 20, 40, 50, 60]
Popped Value Stored in z = hello
Popped Value Stored in y = 30

In [15]:

x=[10,20,30,40,50,60]
x.remove(50)
print(x)

[10, 20, 30, 40, 60]

In [16]:
x=[10,20,30,40,50,60]
for i in x:
  print(i)

10
20
30
40
50
60

In [17]:
x=[10,20,30,40,50,60]
for i in range(0,len(x)):
  print(i,x[i])

0 10
1 20
2 30
3 40
4 50
5 60

In [18]:
x=[10,20,30,40,50,60,"hello","hey"]
for i in x:
  if(type(i)==int):
    print(i)

10
20
30
40
50
60