In [ ]:
#Go to Browser --> Google Collab --> New NoteBook

In [ ]:
#Installation Process of Python

#Options:
# 1. Install Python --> Install Code Editor(VS Code) --> Extension Of python in code editor

#2 Install Annaconda --> Jupyter Notebook

#3 Go to Browser --> Google Collab --> New NoteBook

In [ ]:

# Python --> Python is a General-purpose, interpreted programming language whihc was inventend in 1991 by Guido van Rossoum
# python --version (for version checking)

In [ ]:
# Fundamentals of python
# 1. Variable
# 2. Data Types
# 3. input(),print()

In [ ]:
# 1. Variables --> It is a container in which we will store or assign
a= 56
b='sam'
c=78.48

#a,b,c are variables

In [ ]:
#Global Variables --> Entirely modify
#Local Variable --> modify and used in a block of code

In [ ]:
#2. Data Types -->
#a. Integer --> 56,7,78,-87,-8
#b. Float --> 45.5,5.66,-5.4,-3.32
#c. String --> 'aaa',"aaa",'''aaa'''
#d. Boolean ---> 56>5 -- True, 7>56 --- False

In [ ]:
# type() --> It is used to check datatype of a varible

In [ ]:
type(56)

int

In [ ]:

type(56.6)

float

In [ ]:
type(56>6)

bool

In [ ]:
type('Hem goyal')

str

In [ ]:
#type-casting --> it is used to change types of values from one data type to another data type


a = 67
type(a)
b = float(a)
type(b)

float

In [ ]:
# print()-- it is used to execute our queries on terminal


a=1
b=2
print(a)
print("First Line Completed")
print(b)

1
First Line Completed
2

In [ ]:
a=1
b=2
c=a+b
print(c)

3

In [ ]:
a="1"
b="2"
c=a+b
print(c)

12

In [ ]:
# input() --> This is pre-defined function of python, it takes queries from user and send it to the function,
# its output is in string format by default.

In [ ]:
a=input("Enter First Number:")
b=input("Enter Second Number")
c=a+b
c

Enter First Number:2
Enter Second Number2

'22'

In [ ]:
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number"))
c=a+b
c

Enter First Number:57
Enter Second Number47

104